<div class="thead">
    <div class="tHeadCell" style="width: 62px;"></div>
    <div class="tHeadCell" style="width: 500px;">Name</div>
    <div class="tHeadCell" style="width: 130px;">GP</div>
    <div class="tHeadCell">Stars</div>
    <div class="tHeadCell">Gear</div>
    <div class="tHeadCell">Relic</div>
    <div class="tHeadCell">Ready</div>
</div>
